[submodule "akpedia-client"]
	path = akpedia-client
	url = git@github.com:Steam-Ducks/akpedia-client.git
[submodule "akpedia-server"]
	path = akpedia-server
	url = git@github.com:Steam-Ducks/akpedia-server.git
[submodule "akpedia-ml"]
	path = akpedia-ml
	url = git@github.com:Steam-Ducks/akpedia-ml.git
